@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  @apply bg-[#fff] scroll-smooth top-0 m-0 p-0 overflow-x-hidden h-full;

  &::-webkit-scrollbar {
    @apply w-[5px];
  }

  &::-webkit-scrollbar-track {
    @apply bg-tertiary;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-white-100 rounded-[5px];
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary;
  }
}
